.container {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  
  .video-column {
    flex: 1;
  }
  
  .chat-column {
    flex: 0 0 20%;
    max-width: 20%;
    overflow-y: auto;
    // height: 90vh; // <-- Set this height
  }
  
  .chat-wrapper {
    height: 100%;
    /* add any other styles you need */
    background-color: #1e1e1e;
  }

  body {
    background-color: #1e1e1e;
  }

  ion-toolbar {
    --background: none;
    opacity: 1;
    background-color: #1e1e1e;
  }

  ion-content {
    --background: none;
    opacity: 1;
    background-color: #1e1e1e;
  }