<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/']">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="small">Kick Companion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Kick Companion</ion-title>
    </ion-toolbar>
  </ion-header>

  <h3 class="ion-text-center">Kick Featured Streamers</h3>
  <ion-list>

  </ion-list>
  

</ion-content>
