<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>privacy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">privacy</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="privacy-policy">
    <h1>Privacy Policy for StreamCompanion.app Extension</h1>
    <h2>1. Important Information and Who We Are</h2>
    
    <h3>Purpose of this Privacy Policy</h3>
    <p>
      This Privacy Policy aims to give you information on how StreamCompanion.app Extension processes your personal data through your use of our Chrome extension, including any data you may provide when you use the extension.
    </p>
    
    <h3>Controller</h3>
    <p>
      StreamCompanion.app Extension is the data controller and is responsible for your personal data (referred to as "we", "us" or "our" in this Privacy Policy).

      If you have any questions about this Privacy Policy, including any requests to exercise your legal rights, please contact us.
    </p>

    <h2>2. The Data We Collect About You</h2>
    <p>
      StreamCompanion.app Extension does NOT collect any personal data about you. Personal data, or personal information, means any information about an individual from which that person can be identified.

      Our extension specifically:

        Does not collect any self-identifying information of any kind.
        Does not gather any data for profiling or tracking purposes.
        Does not transmit any of your personal data.
    </p>

    <h2>3. How We Use Your Personal Data</h2>
    <p>
      As stated, we do not collect or use any personal data from you when you use the StreamCompanion.app Extension.
    </p>

    <h2>4. Data Security</h2>
    <p>
      Though we do not collect any data, we have put in place appropriate security measures to prevent any accidental loss or unauthorized use or access to any potential data transmitted through our extension. We continuously strive to ensure the safety and security of our users.
    </p>

    <h2>5. Data Collection by Third Parties</h2>
    <p>
      Our Chrome extension gets host permission for kick.com, and its sole functionality is to add a button within the kick.com interface and make fetch requests to enable Chromecast capabilities. We neither control nor have access to any data collected or used by kick.com. Users are encouraged to review the privacy policy of kick.com for any questions regarding their practices and data usage.
    </p>

    <h2>6. Your Legal Rights</h2>
    <p>
      At any point, if we decide to collect or process personal data in the future, you will have rights under data protection laws in relation to your personal data, such as the right to request access, correction, erasure, restriction, or transfer of your personal data.
    </p>

    <h2>7. Changes to This Privacy Policy</h2>
    <p>
      We reserve the right to update this Privacy Policy at any time. Any changes will be posted on this page. You are encouraged to review our Privacy Policy periodically for any changes.
    </p>

    <h2>8. Contact Us</h2>
    <p>
      For any questions about this Privacy Policy or our privacy practices, please contact us at contact@raymon.io
    </p>
  </div>
</ion-content>
